// === Colors ===

// * PRIMARY *

$PrimaryLinearGradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

// * NEUTRAL *

$NeutralVeryLightGrayishBlue: hsl(240, 78%, 98%);
$NeutralLightGrayishBlue: hsl(234, 14%, 74%);
$NeutralGrayishBlue: hsl(233, 13%, 49%);
$NeutralDarkGrayishBlue: hsl(232, 13%, 33%);

// === Typography ===

// * BODY FONT *

$FontSize: 15px;
$FontFamily: "Montserrat", sans-serif;
$FontWeight: 700;

//   Annually
//   Monthly
