@import "base";
@import "mixins";
@import "variables";

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $FontFamily;
  font-size: $FontSize;
  word-break: break-word;
  transition: all 1s ease-in-out;
}

.grid {
  @include display(grid);
}

.flex {
  @include display(flex);
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

// === * MAIN * ===

main {
  background: $NeutralVeryLightGrayishBlue;
  min-height: 100vh;
}

// * HEADER *

header {
  justify-content: center;
  padding: 3rem 2rem 4.5rem;
  .title {
    display: inherit;
    justify-items: center;

    h1 {
      font-size: 2em;
      color: $NeutralGrayishBlue;
      text-align: center;
    }
  }
}

// * SECTION *

.pricing-toggle {
  padding-top: 2.6rem;
  align-items: center;
  justify-content: space-between;

  & > h3 {
    font-size: 1em;
    color: $NeutralLightGrayishBlue;

    @media (min-width: 760px) {
      font-size: 1.1em;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 30px;
    margin: 0 1.3rem;

    @media (min-width: 600px) {
      width: 60px;
      height: 34px;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background: $PrimaryLinearGradient;

        &::before {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);

          @media (min-width: 600px) {
            transform: translateX(26px);
          }
        }
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $PrimaryLinearGradient;
      border-radius: 50px;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50px;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        @media (min-width: 600px) {
          height: 26px;
          width: 26px;
        }
      }

      .round {
        border-radius: 34px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}

.pricing {
  grid-gap: 3rem 0rem;
  padding: 1rem 2rem 3rem;
  justify-content: center;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }

  @media screen and (min-width: 900px) {
    padding: 1rem 7rem 3rem;
    grid-auto-flow: column;
  }

  &__card {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 5px 2px #e7e8f5;
    padding: 2rem 2rem;
    max-width: 345px;

    @media (min-width: 1024px) {
      max-width: unset;
    }

    &:nth-child(2) {
      background: $PrimaryLinearGradient;

      @media (min-width: 1024px) {
        transform: scaleY(1.08);
      }

      .pricing__container {
        .heading {
          color: #fff;
        }

        .price {
          color: #fff;
        }

        .descriptions {
          li {
            color: #fff;
          }
        }
      }

      .btn {
        @include buttonStyle(
          #fff,
          hsl(236, 72%, 79%),
          transparent,
          $NeutralLightGrayishBlue,
          #fff
        );
      }
    }

    &--btn {
      display: grid;
      width: 100%;
      padding: 2rem 0 0;

      .btn {
        @include buttonStyle(
          $PrimaryLinearGradient,
          $NeutralVeryLightGrayishBlue,
          transparent,
          $NeutralLightGrayishBlue,
          $NeutralGrayishBlue
        );
      }
    }
  }

  &__container {
    @include display(grid);
    justify-items: center;

    .heading {
      color: $NeutralGrayishBlue;
      font-size: 1.2em;
      margin-bottom: 2rem;
    }

    .price {
      color: $NeutralDarkGrayishBlue;
      padding-bottom: 1.4rem;

      &-value {
        font-size: 2.7em;
        align-items: center;

        @media (min-width: 330px) {
          font-size: 3.5em;
        }

        @media (min-width: 1100px) {
          font-size: 4.3em;
        }

        .currency-symbol {
          font-size: 2.7rem;
          display: inline-block;
          padding-right: 0.4rem;
        }
      }

      .hide {
        display: none;
        transition: display 3s ease-out;
      }
    }

    .descriptions {
      text-align: center;
      width: 100%;

      li {
        color: $NeutralGrayishBlue;
        font-size: 1em;
        border-bottom: 1px solid $NeutralLightGrayishBlue;
        padding: 1.2rem 0;
        justify-items: center;

        &:first-child {
          border-top: 1px solid $NeutralLightGrayishBlue;
        }
      }
    }
  }
}
